apiVersion: apps/v1
kind: Deployment
metadata:
  name: loopchat-backend
  namespace: default
  labels:
    app: loopchat-backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: loopchat-backend
  template:
    metadata:
      labels:
        app: loopchat-backend
    spec:
      securityContext:
        runAsUser: 100
        runAsNonRoot: true
        
      containers:
        - name: backend
          image: alihajizadeh/loopchat-backend:v2
          imagePullPolicy: Always
          ports:
            - containerPort: 3000
          
          resources:
            requests:
              memory: "128Mi"
              cpu: "100m"
            limits:
              memory: "512Mi"
              cpu: "500m"

          livenessProbe:
            httpGet:
              path: /health
              port: 3000
            initialDelaySeconds: 15
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /health
              port: 3000
            initialDelaySeconds: 10
            periodSeconds: 5

          env:
            - name: PORT
              value: "3000"
            - name: JWT_SECRET
              value: "super-secure-jwt-secret-key-change-me" 

            - name: DB_HOST
              value: "postgres-service.databases.svc.cluster.local"
            - name: DB_PORT
              value: "5432"
            - name: DB_USER
              value: "loopchat"
            - name: DB_NAME
              value: "loopchat_db"
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: backend-secrets 
                  key: postgres-password

            - name: REDIS_HOST
              value: "redis-service.databases.svc.cluster.local"
            - name: REDIS_PORT
              value: "6379"
            - name: REDIS_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: backend-secrets
                  key: redis-password