apiVersion: v1
kind: Secret
metadata:
  name: postgres-secret
  namespace: databases
type: Opaque
stringData:
  POSTGRES_PASSWORD: "my-secure-password-123"
  POSTGRES_USER: "loopchat"
  POSTGRES_DB: "loopchat_db"