apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: loopchat-backend
  namespace: argocd
spec:
  project: default
  source:
    repoURL: 'https://github.com/hjali7/loopchat.git' 
    targetRevision: HEAD
    path: infra/k8s/backend
  destination:
    server: 'https://kubernetes.default.svc'
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true